:root{
    --bodyBckground:#f2f2f2;
    --buttonColor:#00275E;
    --fontStyle: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    --fontSize: 22px;
    --boxShadow: 0 0 10px 1px #ddd;

}

body{
    padding: 0;
    margin: 0;
    font-style: var(--fontStyle);
    background:var(--bodyBckground);
    white-space: nowrap;
}
.overrall-container{
    background: white;
    width: fit-content;
    position: relative;
    margin: auto;
    margin-top: 3em;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:var(--boxShadow);
}
.overrall-container h2{
    text-align:center;
    color: #00275E;
    padding-right: 5px;
}

.outputselect{
    box-shadow:var(--boxShadow) ;
    height: 20px;
    color: blue;
}
input[type="checkbox"]{
    position: absolute;
    right: 0;
    
}
input[type="number"]{
    width: 17%;
    position: absolute;
    right: 0;
    outline: none;
}
label{
    margin-left: 3px;
    text-transform:capitalize;
    color:#000080 ;
}
.btngenetator {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;  
    padding-bottom: 3px;
}
.btngenetator button{
    padding: 6px 12px;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--buttonColor);
    box-shadow:var(--boxShadow);
    outline-color: #000080;
}
.fa-clipboard{
    cursor: pointer;
    z-index: 1000;
}